%p
  = f.label :first_name, t('profile.first_name')
  %br
  = f.text_field :first_name
%p
  = f.label :last_name, t('profile.last_name')
  %br
  = f.text_field :last_name
%p
  = f.label :mobile_number, t('profile.mobile_number')
  %br
  = f.text_field :mobile_number
%p
  = f.label :landline_number, t('profile.landline_number')
  %br
  = f.text_field :landline_number
%p
  = f.label :gender, t('profile.gender')
  %br
  = f.select :gender, t('profile.gender_options').split(" "), {include_blank: 'Select'}